---
---

@import 'jekyll-theme-cayman';

.page-header {
  color: #fff;
  text-align: center;
  background-color: #fff;//#fc4a1a;
  background-image: linear-gradient(120deg, #f7b733, #fc4a1a);
  
  @include large {
    padding: 2rem 3rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
.main-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        color: #fc4a1a;
    }
}

.body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: $body-text-color;
  text-align: left;
}

.main-content {
    font-size: 15px;
    text-align: left;
}

.project-name {
  // margin-top: 0rem;		
  // margin-bottom: 0rem;
  
  
  @include large {
    font-size: 2.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}
